@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');*
{
	font-family: 'Josefin Sans', sans-serif;
}

.jumbotron{
	background-image: url(img/vitrine.jpg);
	background-size: cover;
	background-position: center;
	color: #fff;
}

.menu-icon
{
	width: 5vw;
	border: none;
}

.social
{
	width: 2vw;
}

.facebook
{
	padding-left: 50vw;
}

.twitter, .instagram
{
	padding-left: 2vw;
}

h4
{
	color: #8B0000;
}

.div
{
	padding-top: 2vw;
	padding-bottom: 1vw;
	color: #8B0000;
}

.tabela
{
	padding-top: 1vw;
	padding-bottom: 3vw;
}